{% extends "layouts/base.jinja" %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<h1>Super Trucking Service! <span id='num'>{{number}}</span></h1>
	</div>
</div>
<!–– this project can be found at: ––>
{% endblock %}
